@{
    ViewData["Title"] = "Add Faculty";
}

<form method="post" asp-action="ViewFaculty" class="mt-3">
    <div>
        <table class="table-hover">
            <thead>
                <tr>
                    <th scope="col"><label asp-for="Name" class="font-weight-bold"></label></th>
                    <th scope="col"><label asp-for="Branch" class="font-weight-bold"></label></th>
                    <th scope="col"><label asp-for="Actions" class="font-weight-bold"></label></th>
                </tr>  
            </thead>
            <tbody>
                <tr>
                    <td>Hello</td>
                    <td>Hii</td>
                    <td></td>
                </tr>
            </tbody>

        </table>
    </div>
